
body{
    background-color: #343434;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;    
}

header{   
    display: inline-block;
    width: 100%;
    background-color: #E44A62;
    padding: 0!important;
    margin: 0!important;
}
.header-container {
    display: flex;
    flex-grow: 1;
    text-align: center;
}
header h1 {
    align-items: center;
}

.liens {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px; /* Space to the left for links */
}

.liens a {
    margin-right: 15px; /* Space between links */
    text-decoration: none;
    color: white;
}

.center-wrapper {
    position: relative;           /* Permet à .containerCon de se positionner par rapport à lui */
    width: 100%;
    height: 100vh;               /* Occupe toute la hauteur de la fenêtre */
    display: flex;
    justify-content: center;     /* Centre horizontalement */
    align-items: center;         /* Centre verticalement */
}

.containerCon {
    border-radius: 2%;
    min-width: 600px;
    min-height: 700px;
    background-color: #E44A62;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;         /* Permet un centrage précis */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  /* Centre parfaitement en hauteur et en largeur */
}

.contenueConn{
    position: absolute;
}   

